/* 1280 */
.places {
  margin: 0 auto;
  padding: 0;
  max-width: calc(100% - 2*148px);
  min-height: 3392px;
  box-sizing: border-box;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 2*48px);
    min-height: 3292px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    min-height: 2808px;
  }
}

/* 425 */
@media screen and (max-width: 425px) {
  .places {
    max-width: 100%;
  }
}


/* 320 */
@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    min-height: 5177px;
  }
}
