/* 1280 */
.place__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  height: auto;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
    margin-bottom: 32px;
  }
}
