/* 1280 */
.place__image {
  margin: 0;
  padding: 0;
  width: 35.9vw;
  height: auto;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .place__image {
    width: 42.9vw;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .place__image {
    width: 44.3vw;
  }
}

/* 425 */
@media screen and (max-width: 425px) {
  .place__image {
    width: 100%;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
  }
}
