/* 1280 */
.lead {
  margin: 0 auto 0;
  padding: 0;
  max-width: calc(100vw - 2*148px);
  box-sizing: border-box;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100vw - 2*48px);
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .lead {
    max-width: calc(100vw - 48px);
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .lead {
    max-width: 100vw;
  }
}
