/* 1280 */
.photo-grid__item {
  margin: 0;
  padding: 0;
  width: 22.1875vw;
  height: auto;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .photo-grid__item {
    width: 29.296875vw;
    height: auto;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .photo-grid__item {
    width: 45.8333333vw;
    height: auto;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .photo-grid__item {
    width: 90vw;
    height: auto;
  }
}

