/* 1280, 1024 */
.header {
  margin: 0 auto;
  padding: 0;
  max-width: calc(100vw - 96px);
  min-height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

/* 768 */
@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100vw - 48px);
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100vw - 32px);
    min-height: 42px;
  }
}
