/* 1280, 1024, 768 */
.lead__title {
  margin: 0 auto 32px;
  display: flex;
  padding: 0;
  max-width: 720px;
  font-family: Inter;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  display: flex;
}


/* 710px */
@media screen and (max-width: 710px) {
  .lead__title {
    max-width: calc(100% - 2*8px);
    font-size: 64px;
  }
}

/* 500 */
@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 60px;
  }
}

/* 460 */
@media screen and (max-width: 460px) {
  .lead__title {
    font-size: 3rem;
  }
}

/* 430 */
@media screen and (max-width: 430px) {
  .lead__title {
    font-size: 2.8rem;
  }
}

/* 355 */
@media screen and (max-width: 355px) {
  .lead__title {
    font-size: 2.5rem;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .lead__title {
    max-width: calc(100% - 2*16px);
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 16px;
  }
}
