/* 1280, 1024, 768 */
.footer__links {
  margin: 0;
  padding: 0;
}

/* 320 */
@media screen and (max-width: 320px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
  }
}
