/* 1280 */
.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  max-width: 484px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    min-height: 104px;
    font-size: 16px;
    margin-bottom: 25px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .place__image {
    max-width: 288px;
    min-height: 156px;
  }
}
