/* 1280, 1024 */
.place__link {
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* 768 */
@media screen and (max-width: 768) {
  .place__link {
    max-width: 352px;
  }
}

/* 320 */
@media screen and (max-width: 320) {
  .place__link {
    max-width: 288px;
  }
}
