/* 1280, 1024 */
.places__place {
  margin-bottom: 79px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .places__place {
    margin-bottom: 76px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .places__place {
    margin-bottom: 50px;
  }
}
