/* 1280 */
.cover__background {
  margin: 0;
  padding: 0;
  width: calc(100vw - 2*48px);
  height: 740px;
  position: relative;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover__background {
    width: 100%;
    height: auto;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 100%;
    height: auto;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .cover__background {
    width: 100%;
    height: auto;
  }
}
