/* 1280 */
.cover__background {
  margin: 0;
  padding: 0;
  width: 1184px;
  height: 740px;
  position: absolute;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover__background {
    width: 100vw;
    height: 640px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__background {
    width: 100vw;
    height: 480px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .cover__background {
    width: 100vw;
    height: 200px;
  }
}
