/* 1280 */
.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  min-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
  text-align: center;
  color: #fff;
  text-decoration-line: none;
  position: absolute;
  top: 245px;
  z-index: 1;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover__title {
    top: 195px
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__title {
    top: 115px
  }
}

/* 665 */
@media screen and (max-width: 665px) {
  .cover__title {
    font-size: 3.5rem;
    top: 75px
  }
}

/* 408 */
@media screen and (max-width: 408px) {
  .cover__title {
    max-width: 288px;
    min-height: 70px;
    font-size: 2rem;
    line-height: 35px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    min-height: 70px;
    font-size: 2rem;
    line-height: 35px;
    top: 32px;
  }
}
